.Container-detalle-movimiento{
    display: flex;
    align-items: center;
    margin: 5px;
}

.Container-detalle-movimiento .container-categoria{
    display: flex;
    margin: auto;
}

.Container-detalle-movimiento .container-monto{
    display: flex;
    margin: auto;
}

.container-categoria label{
    font-size: 19px;
}

.container-img-detalle{
    border-radius: 50%;
    background-color: #27a781;
}

.gasto{
    background-color: #d41f1f;
}

.h4-rojo{
    color: #d41f1f;
}

.h4-verde{
    color: #27a781;
}

.container-categoria .descripcion {
    font-size: 12px;
    margin: 5px;
}

.img-detalle-movimiento{
    width: 22px;
    height: 22px;
}

.Container-detalle-movimiento h4{
    font-size: 18px;
}